<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragments/fragment_header :: headerFragment">
	</head>
	<body>
		<nav th:replace="fragments/fragment_navigation :: navigationFragment"></nav>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<form action="#" th:action="@{/quote}" th:object=${quote} method="post"
					class="form-horizontal">
						<label>Author name</label>
						<input type="text" class="form-control" th:field="*{author}"/>
						<br>
						<label>Quote</label>
						<textarea class="form-control" th:field="*{content}"></textarea>
						<br>
						<div class="span12 text-center">
							<button type="submit" class="btn btn-primary" name="save">Add quote!</button>
						</div>
					</form>
				</div>
			</div>
			<!--  <p th:text=${q1.author}></p>	-->
		</div>
	</body>
</html>